.float-right{
	float: right;
}
.text-right{
	position: relative;
	left: -5px;
}
#llenado{
	color: gray;
}
.miniatura{
	width: 100%;
}
.lista{
	margin-top: 5px;
	margin-right: 10px;
}
#recuadro1{
	margin-top: 3%;
}
#recuadro2{
	margin-top: 3%;
}
button:hover{
	background-color: #FFD700 !important;
}
p:first-child {
  color: lime;
}
.input-group:nth-child(3n) {
  color: red;
}